@inherits LayoutComponentBase

<div class="page w-full h-full">
    <main class="w-full h-full">
        <article class="content px-4 w-full h-full">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
