@page "/"

<PageTitle>Home</PageTitle>

<div class="h-full w-full flex flex-col items-center justify-center">
  <h1 class="mb-4 text-9xl font-extrabold leading-none tracking-tight text-red-900 md:text-5xl lg:text-8xl dark:text-white">Dos Sancto</h1>
Welcome to your new app.
</div>

